<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Functional">
	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>
	<test thread-count="5" name="AdminSettings">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="testCases.TC01_LoginToBasePage" />
			<class name="testCases.TC02_AddTeamMember" />
			<class name="testCases.TC03_verifyNameOnAddingOfDuplicateEmail" />
			<class name="testCases.TC04_dummyTestCase" />
			
		</classes>
	</test> <!-- AdminSettings -->
</suite> <!-- Functional -->
